<f:for each="{calendars}" as="calendar" iteration="calendarIterator">
    {
    <f:comment>Do not remove this comment!</f:comment>
    googleCalendarApiKey: '{calendar.googleCalendarApiKey}',
	googleCalendarId: '{calendar.googleCalendarId}',
    className: '{calendar.css}'
    }
	{f:if(condition:calendarIterator.isLast, then:'', else:',')}
</f:for>
